<!-- <div class="input-group">
    <input type="text" class="form-control" placeholder="Are you sure to remove the post permanently？" disabled>
    <button class="btn btn-danger btn-sm" type="submit">Yes</button>
    <button class="btn btn-secondary btn-sm" type="button" onclick="hide_delete_comment()">Cancel</button>
</div>  -->

<div class="alert alert-danger" role="alert">
    Confirm your action - <strong>Delete</strong> the comment permanently
    <span class="pull-right">
        <a onclick="submit_delete_comment()"  class="text-muted">Yes | </a>
        <a onclick="hide_delete_comment()" class="text-muted">Cancel</a>
        <button class="btn btn-danger btn-sm" type="submit" style="display: none;" id="delete-comment-submit-button">Yes</button>
    </span>
</div>