<!-- <div class="input-group">
    <input type="text" class="form-control" placeholder="Are you sure to mark the post as resolved?" disabled>
    <button class="btn btn-success btn-sm" type="submit">Yes</button>
    <button class="btn btn-secondary btn-sm" type="button" onclick="hide_resolved()">Cancel</button>
</div>  -->
<!-- <div class="alert alert-success" role="alert" style="display: block;" id="comment-resolve-alert-{{comment.id}}">
Confirm your action - Mark this comment as <strong>Solution</strong>

<span class="pull-right">
    <a href="#" class="text-muted" onclick="submit_resolved({{comment.id}})">Yes | </a>
    <a href="#" class="text-muted" onclick="hide_resolved({{comment.id}})">Cancel</a>
    <button class="btn btn-danger btn-sm" type="submit" style="display: none;" id="comment-resolve-button-{{comment.id}}">Yes</button>
</span>
</div> -->