{% extends 'base.html' %}
{% load static %}


<!-- Override default page title -->
{% block title%}
{{ post.title }}
{% endblock %}
<head>
    {% if is_markdown %}
    <link rel="stylesheet" href="{% static 'mdeditor/css/editormd.preview.css' %}" />
    {% endif %}
</head>
<body>


{% block content %}


    <h1>{{ post.title }}</h1>
    <small>
        By: {{ post.author.first_name }} {{ post.author.last_name }} - Post: {{ post.post_date|date:"Y/m/d g:i a" }} -
        Edit: {{ post.edit_date|date:"Y/m/d g:i a" }}

        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <a href="{% url 'edit_post' post.pk %}" class="btn btn-info btn-sm">Edit</a>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{post.pk}}">
            Delete
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{post.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure to remove the post permanently？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <form method="POST" action="{% url 'delete_post' post.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-danger mt-4 mb-4" type="submit">Yes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
        <!-- <div>
            <p>Table Of Content</p>
            {{ post.toc|safe }}
         </div> -->

    </small>


    <!-- Header Image
    {% if post.header_image %}
    <center><img src="{{ post.header_image.url }}"></center>
    {% endif %} -->
    <hr>
    <br />

    <!-- If the post is made by markdown editor, import renders -->
    
    {% if is_markdown %}
    <!-- Markdown Body -->
    <div id="markdown-body">
        <textarea style="display:none;">{{ post.body_md|safe }}</textarea>

    </div>

    <script src="{% static 'mdeditor/js/jquery.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/prettify.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/marked.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/editormd.js' %}"></script>

    <script src="{% static 'mdeditor/js/lib/raphael.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/underscore.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'mdeditor/js/lib/jquery.flowchart.min.js' %}"></script>

    <script>
        editormd.markdownToHTML("markdown-body", { //article_content是html文档的ID
            emoji: true,
            taskList: true,
            tex: true,
            flowChart: true,
            sequenceDiagram: true,
            codeFold: true
        });
    </script>
    {% else %}
    <!-- Rich Text Body -->
    {{ post.body_r|safe }}
    {% endif %}


    <br />
    <hr>
    <a href="{% url 'category' post.category %}">#{{ post.category }}</a>
    <br /><br />

    <!-- LIKES -->
    {% if user.is_authenticated %}
    <form action="{% url 'like_post' post.pk %}" method="POST">
        {% csrf_token %}
        {% if liked %}
        <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-primary btn-sm">
            Unlike
        </button>
        {% else %}
        <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-outline-primary btn-sm">
            Like
        </button>
        {% endif %}
        - {{ total_likes }} Likes
    </form>
    {% else %}
    <button class="btn btn-outline-primary btn-sm" disabled>
        Like
    </button>
    - <a class="nav-link" href="{% url 'login' %}">Login to like the post</a>
    {% endif %}


    <!-- Bio Card-->
    <br /><br />

    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-2">
                {% if post.author.profile.profile_img %}
                <img src="{{ post.author.profile.profile_img.url }}" class="img-fluid rounded-start" alt="profile_img"> 
                {% else %}
                <img src="{% static 'theBlog/images/avatar.jpg' %}" class="img-fluid rounded-start" alt="profile_img">
                {% endif %}
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
                    <p class="card-text"><small class="text-muted">
                            {% if post.author.profile.link1 %}
                            | <a href="{{ post.author.profile.link1 }}" class="text-muted">{{ post.author.profile.link1_name }}</a> |
                            {% endif %}

                            {% if post.author.profile.link2 %}
                            <a href="{{ post.author.profile.link2 }}" class="text-muted">{{ post.author.profile.link2_name }}</a> |
                            {% endif %}

                            {% if post.author.profile.link3 %}
                            <a href="{{ post.author.profile.link3 }}" class="text-muted">{{ post.author.profile.link3_name }}</a> |
                            {% endif %}

                            {% if post.author.profile.link4 %}
                            <a href="{{ post.author.profile.link4 }}" class="text-muted">{{ post.author.profile.link4_name }}</a> |
                            {% endif %}

                            {% if post.author.profile.link5 %}
                            <a href="{{ post.author.profile.link5 }}" class="text-muted">{{ post.author.profile.link5_name }}</a> |
                            {% endif %}

                            {% if post.author.profile.link6 %}
                            <a href="{{ post.author.profile.link6 }}" class="text-muted">{{ post.author.profile.link6_name }}</a> |
                            {% endif %}
                        </small></p>
                        
                    <p class="card-text">{{ post.author.profile.bio }}</p>
                    <a href="{% url 'show_profile' post.author.profile.id %}" class="btn btn-outline-secondary btn-sm">Profile</a>

                </div>
            </div>
        </div>
    </div>

    <br>
    <hr>
    <!-- Comment -->
    <h2>Comments</h2>
    {% if not post.comments.all %}
        No Comments Yet.
        
    {% else %}
        {% for comment in post.comments.all %}
            <br>
            <strong>
            {{ comment.name }}
            -
            {{ comment.date_added}}
            </strong>
            <br>
            {{ comment.body }}
            
        {% endfor %}    
    {% endif %}
    <br>
    <a href="{% url 'new_comment' post.pk %}">Add Comment. </a>




    <br /><br />
    <a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>

{% endblock %}


</body>

</html>




<div class="card border-white mb-3">
    <div class="row g-0">
        <div class="circle-img img-circle">
            {% if post.author.profile.profile_img %}
            <img src="{{ post.author.profile.profile_img.url }}" class="img-fluid rounded-circle" alt="profile_img"> 
            {% else %}
            <img src="{% static 'theBlog/images/avatar.jpg' %}" class="img-fluid rounded-circle" alt="profile_img">
            {% endif %}
        </div>

        <div class="col-md-10">
            <div class="card-body">
                <div class="post-header">
                <div class="d-inline-flex p-2">
                    <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
                </div>
                <div class="d-inline-flex p-2">
                    <small class="text-muted">
                        {{ post.edit_date|timesince }} ago in
                        <a>#{{ post.category }}</a>
                        &nbsp;
                        <a>Totoal Views {{ post.total_views }}</a>
                        <a>| Unique Views {{ post.unique_views_count }}</a>
                        </small>
                </div>
                

                
                </div>
                {% if user.is_authenticated %}

                    {% if user.id == post.author.id %}
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group me-2" role="group" aria-label="First group">
                            <!-- EDIT -->
                            <a href="{% url 'edit_post' post.pk %}" class="btn btn-info btn-sm" type="button">Edit</a>
                            <!-- DELETE -->
                            <button type="button" class="btn btn-danger btn-sm" onclick="show_delete()">
                                Delete
                            </button>
                        </div>
                        <div class="btn-group me-2" role="group" aria-label="Second group">
                            <form action="{% url 'like_post' post.pk %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit"  name="post_id" class="btn btn-primary btn-sm">
                                    Unlike
                                </button>
                                {% else %}
                                <button type="submit"  name="post_id" class="btn btn-outline-primary btn-sm">
                                    Like
                                </button>
                                {% endif %}
                                - {{ total_likes }} Likes
                            </form>

                        </div>
                      </div>
                    
                    <form method="POST" action="{% url 'delete_post' post.pk %}">
                        {% csrf_token %}
                        <div class="post-delete-form">

                        </div>
                    </form>
                    
                    {% else %}

                        <form action="{% url 'like_post' post.pk %}" method="POST">
                            {% csrf_token %}
                            {% if liked %}
                            <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-primary btn-sm">
                                Unlike
                            </button>
                            {% else %}
                            <button type="submit" , name="post_id" , value="{{ post.id }}" , class="btn btn-outline-primary btn-sm">
                                Like
                            </button>
                            {% endif %}
                            - {{ total_likes }} Likes
                        </form>

                    {% endif %}
                    <!-- Endorse -->
                    <form method="POST" action="{% url 'endorse_post' post.id %}">
                        {% csrf_token %}
                        <div class="post-endorse-form" id="post-endorse-form-{{post.id}}">
                            {% if post.endorsed %}
                            <button type="submit" class="btn btn-primary btn-sm">
                                Remove Endorse
                            </button> 
                            {% else %}
                            <button type="submit" class="btn btn-primary btn-sm">
                                Endorse
                            </button> 
                            {% endif %}
                        </div>
                    </form> 

                    {% if post.solved_by_comment == 0 %}
                    <span class="badge rounded-pill text-bg-dark">?</span>
                    {% else %}
                    <span class="badge rounded-pill text-bg-success">Resolved</span>
                    {% endif %}

                    {% if post.endorsed %}
                    <span class="badge rounded-pill text-bg-success">Endorsed</span>
                    {% endif %}

                {% endif %}            
            </div>
        </div>
    </div>
</div>