{% load static %}
{% load notifications_tags %}
{% notifications_unread as unread_count %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="{% static 'theBlog/css/main.css' %}" rel="stylesheet">

  <title>
    {% block title%}
    The Blog
    {% endblock %}
  </title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'course' %}">{{current_course.name}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            
            <a class="nav-link" href="{% url 'course' %}" title="course list">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" href="{% url 'archive' %}" title="archive">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-journal-bookmark" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M6 8V1h1v6.117L8.743 6.07a.5.5 0 0 1 .514 0L11 7.117V1h1v7a.5.5 0 0 1-.757.429L9 7.083 6.757 8.43A.5.5 0 0 1 6 8z"/>
                <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
              </svg>
            </a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" href="#" onclick="iframe_ctl_new_post(this)">New Post</a>
          </li>
          <li class="nav-item">
            
            <a class="nav-link" href="#" onclick="refresh()" id="refresh">Test</a>
          </li>

    
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav me-2 mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item">
            
            <a class="btn btn-dark" id="all-notification" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" onclick="load_notification(this)">
              {% if unread_count %}
              <!-- <svg viewBox="0 0 8 8"
                   width="8px"
                   height="8px">
                  <circle cx="4"
                          cy="4"
                          r="4"
                          fill="#ff6b6b"
                          ></circle>
              </svg> -->
              {% endif %}
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
              </svg>
              {% if unread_count %}
              {{ unread_count }}
              {% endif %}
            </a>

          </li>
          <!-- User Dropdown -->
          <li class="nav-item  ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false" id="user-dropdown" onclick="toggle_user_dropdown()">
              {{ user.first_name }} {{ user.last_name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              

              {% if user.profile.id %}
              <li><a class="dropdown-item" href="{% url 'show_profile' user.profile.id %}">Show Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id  %}">Edit Profile</a></li>
              {% else %}
              <li><a class="dropdown-item" href="{% url 'create_profile_page' %}">Create Profile</a></li>
              {% endif%}
              <li><a class="dropdown-item" href="{% url 'edit_settings' %}">Edit Settings</a></li>
              <li><a class="dropdown-item" href="{% url 'settings' %}">Settings</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>

      </div>
    </div>
  </nav>

  <div class="container-fluid mt-3">
    <div class="row align-items-start">
      <div class="col-2">
        <div class="list-group overflow-auto h-100" id="category-list">
          <div class="sidebar-heading">Category</div>
          <!-- Category -->
              {% for cat, count in cat_post_count %}
              <a href="#"
                class="list-group-item list-group-item category d-flex justify-content-between align-items-center" id="cat-{{cat}}" onclick="post_list_ctl(this)">
                {{ cat }}
                <span class="badge text-bg-primary">{{ count }}</span>
              </a>
              
              {% endfor %}
        </div>
      </div>
      <div class="col-3" id="post-list">
        {% block post_list %}

        {% endblock %}
      </div>
      <div class="col-7">
      <!-- <div class="col-sm-9" id="post-detail-col"> -->
        <!-- <div class="post-detail"> -->
        {% block content %}

        {% endblock %}
      <!-- </div> -->

      </div>

    </div>


  </div>
  <div class="offcanvas offcanvas-end" data-bs-backdrop="false" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <div class="offcanvas-title" id="offcanvasExampleLabel">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#nav-all" type="button" role="tab" aria-controls="nav-all" aria-selected="true" onclick="load_notification(this)">All</button>
            <button class="nav-link" id="nav-unread-tab" data-bs-toggle="tab" data-bs-target="#nav-unread" type="button" role="tab" aria-controls="nav-unread" aria-selected="false" onclick="load_notification(this)">
              Unread
            </button>
            <button class="nav-link" id="nav-archive-tab" data-bs-toggle="tab" data-bs-target="#nav-archive" type="button" role="tab" aria-controls="nav-archive" aria-selected="false" onclick="load_archive_confirm_card()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive" viewBox="0 0 16 16">
                <path d="M0 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 12.5V5a1 1 0 0 1-1-1V2zm2 3v7.5A1.5 1.5 0 0 0 3.5 14h9a1.5 1.5 0 0 0 1.5-1.5V5H2zm13-3H1v2h14V2zM5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
              </svg>
            </button>
          </div>
          
        </nav>

      </div>

      <button type="button" class="btn-close" id="offcanvas-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      
        
    </div>

    <div class="offcanvas-body">


    </div>
  </div>















  





    

    



  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    -->

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
        function toggle_user_dropdown(){
          $("#user-dropdown").dropdown("toggle");
        }

        $("#menu-toggle").click(function (e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
        function iframe_ctl_new_post(obj) {

          // alert("http://127.0.0.1:8000/article/"+obj.id);
          $("#post_detail_iframe").attr("src", "{% url 'new_post' current_course_id %}")
        };
        // filter by category
        // initialize
        
        function post_list_ctl(obj) { 
          var filter;

          if($("#"+obj.id).hasClass("active") == false){
            filter = $(".dropdown-menu").find('.active').attr('id').split('-')[1];

            $('#category-list').find('a').removeClass('active');
            $('#'+obj.id).addClass('active');
            $.ajax({
                  type: "GET",
                  url: "{% url 'post_list' current_course_id 'filter' 'cat' %}".replace("cat", obj.id.split("-")[1]).replace('filter',filter),
                  dataType: "html", 
                  success: function(jqXHR, textStatus, errorThrown){
                    $('#list-group').html(jqXHR);
                  }
                });
          }
          else{
            $('#'+obj.id).removeClass('active');
            $.ajax({
                  type: "GET",
                  url: "{% url 'post_list' current_course_id 'filter' 'all' %}".replace('filter',filter),
                  dataType: "html", 
                  success: function(jqXHR, textStatus, errorThrown){
                    $('#list-group').html(jqXHR);
                  }
                });            
          }



          // var checked = document.getElementById(obj.id).className;
          
          // // if clicked item is not activated
          // console.log(checked.indexOf("activated") != 1);
          // if(checked.indexOf("rest") != -1){
          //   // deactivate other items
          //   $(".list-group-item.list-group-item.category.d-flex.justify-content-between.align-items-center").attr("class", "list-group-item list-group-item category d-flex justify-content-between align-items-center inactive rest")
          //   // activate clicked item
          //   $("#"+obj.id).attr("class", "list-group-item list-group-item category d-flex justify-content-between align-items-center active activated")
          //   // filter post list
          //   $("#list-group").find("a").attr('style', "display: none;")
          //   $("."+obj.id).find("a").attr('style', "")
          //   // store selected category
          //   localStorage.setItem('activeCat', obj.id);
          // }
          // // if click item is activated
          // else if(checked.indexOf("activated") != -1){
          //   // deactivate all items
          //   console.log('click item is activated');
          //   $("#"+obj.id).attr("class", "list-group-item list-group-item category d-flex justify-content-between align-items-center inactive rest")
          //   // display full post list
          //   $("#list-group").find("a").attr('style', "")
          //   localStorage.setItem('activeCat', "");
          // }
          
        };
        function load_notification(obj){

          // $(".offcanvas").show()
          
          console.log('test')
          if(obj.id == "nav-unread-tab"){
            $("#all-notification").attr("id","unread-notification")
          }
          else if(obj.id == "nav-all-tab"){
            $("#unread-notification").attr("id","all-notification")
          }
          $(".offcanvas-body").load("{% url 'notice_list' 'filter' %}".replace("filter", obj.id))
          
        }
        function load_update_notification(){
          $(".offcanvas-body").load("{% url 'update_notice_list' %}")
          location.reload();
        }
        function load_archive_confirm_card(){
          console.log()
          if($("#archive-confirm-card").attr("style") == "display: none;"){
            $("#archive-confirm-card").removeAttr("style")
          }
          else{
            $("#archive-confirm-card").attr('style', "display: none;")
          }
        }
        function load_post(obj){
          
          $("#post_detail_iframe").attr("src", "{% url 'update_notice_list' %}?post_id=notice-target-id&notice_id=notice-id".replace("notice-target-id",obj.id.split('-')[0]).replace("notice-id",obj.id.split('-')[1]))
          $("#notice_link_"+obj.id.split('-')[1]).removeClass("list-group-item-primary").addClass("list-group-item-light")
          // $(".offcanvas").hide()
          $("#offcanvas-close").click()
        }

        function parseToDOM(str){
            var div = document.createElement("div");
            if(typeof str == "string")
                div.innerHTML = str;
            return div;
          }

          // modify returned refreshed item to keep highlighted item
          function dataValModify(elem){
            
            var activeItemID=localStorage.getItem("activeItemID");
            var result = elem.replace('post-list" id="'+activeItemID+'"', 'post-list active" id="'+activeItemID+'"');
            result = parseToDOM(result);
            console.log(localStorage.getItem("activeCat"));
            // if filter applied to category
            if(localStorage.getItem("activeCat") != ""){
              $(result).find("a").attr('style', "display: none;");
              $(result.getElementsByClassName(localStorage.getItem("activeCat"))).find("a").attr('style', "");
            };
            

            console.log(result);
            
            
            return result;
          }
          // refreshe post list every 10 sec
          // setInterval(function(){            
          //   $.ajax({

          //       type: "GET",
          //       url: 
          //       dataType: "html", 
          //       success: function(jqXHR, textStatus, errorThrown){
          //         var myModifiedHTML = dataValModify(jqXHR);                
          //         // Inject the modified HTML
          //         // console.log(localStorage.getItem("activeCat"));
          //         // console.log(myModifiedHTML);
          //         $('#list-group').html(myModifiedHTML);
          //       }
          //     });
          // }, 10000);


          
        
        

        
      
  </script>



</body>

</html>