{% extends 'base.html' %}
{% load static %}

 <!-- Override default page title -->
 {% block title%}
The Blog: #{{ cats }}
 {% endblock %}


<head> 
    <!-- Remove underline in links -->
    <style>a{TEXT-DECORATION:none}</style> 
</head>
<body>
{% block post_list %}
{% if category_posts %}
    <!-- <h1>#{{ cats }}</h1> -->
    <div class="list-group overflow-auto h-100">
        {% for post in category_posts %}
            <!-- {% if user.id == post.author.id %} -->
            <a href="{% url 'article_detail' post.pk %}" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  {{ post.title }}
                  <small>{{ post.edit_date|date:"Y/m/d g:i a" }}</small>
                </div>
                <!-- <p class="mb-1">Some placeholder content in a paragraph.</p> -->
                <small>{{ post.author.first_name }} {{ post.author.last_name }} #{{ post.category }}</small>
              </a>

            <!-- {% endif %}     -->
        {% endfor %}
    </div>
{% else %}
<h2>No posts under #{{ cats }} ...</h2>
{% endif %}
{% endblock %}


{% block content %}
Select A Post
{% endblock %}