{% extends 'iframe_base.html' %}

{% block javascript %}
<!-- <script>
    var iframe = document.getElementById("post_detail_iframe")
    const collapseElementList = iframe.contentWindow.document.querySelectorAll('.collapse')
    const collapseList = [...collapseElementList].map(collapseEl => new bootstrap.Collapse(collapseEl))
    
</script> -->
{% endblock %}
{% block frame_content %}



<div class="container-lg pt-2">
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.author}}
        {{form.course}}
        <div class="row g-2">
            <div class="col-10">
                <div class="form-floating">
                    {{ form.title}}
                    <label for="id_title">Title</label>
                </div>
            </div>
            <div class="col-2">
              <div class="form-floating">
                {{form.category}}
                <label for="id_category">Select category</label>
              </div>
            </div>
        </div>
        <div class="pt-2">
            {{ form.media }}
            {{ form.body}}
        </div>
        <div class="row g-2">
            <div class="col-2">
                <div class="form-check form-switch pt-1">
                    <div>
                        {{form.is_pin}}
                    </div>
                    <label class="form-check-label" for="id_is_pin">Pinned</label>
                    <p class="text-muted"><small>
                        Kepp at top of post list
                    </small></p>
                </div> 
            </div>
            <div class="col-2">
                <div class="form-check form-switch pt-1">
                    <div onclick="toggle_collapse()">
                        {{form.is_private}}
                    </div>
                    <label class="form-check-label" for="id_is_private">Private</label>
                    <p class="text-muted"><small>
                        Visible to you and selected viewer only
                    </small></p>
                </div>
            </div>
            
            <div class="collapse collapse-horizontal col-8" id="private_collapse">
                <div style="width: 30rem;">
                    <label class="text-muted" for="id_private_viwers">Hold down Ctrl/Command to select more than one</label>
                    {{form.private_viwers}}
                </div>                

            </div>
            
        </div>





        


        
          
        

          
          
          
        

        <br>
        <a class="btn btn-secondary" href="{% url 'index_page' %}">Cancle</a>
        <button class="btn btn-success">Post</button>

    </form>

</div>
<!-- Pass user.id to the backend) -->
<script>
    const bsCollapse = new bootstrap.Collapse('#private_collapse', {
    toggle: false
    })

    var name = "{{ user.id }}";
    document.getElementById('author_id').value = name;
    document.getElementById('course_id').value = '{{course_id}}'
    

    function toggle_collapse(){    
        console.log('test');

        $('#private_collapse').collapse('toggle');
        // $('#post_detail_iframe').contents().find("#private_collapse").collapse('show');
    }

</script>

{% endblock %}