<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>
        Email Notification
    </title>

</head>

<body>
<div class="container">
<div class="card">
    <h5 class="card-header">Notification</h5>
    <div class="card-body">
        <h5 class="card-title">{{ who }} {{ action }} your {{ object_type }}: {{ object.title }}</h5>
        <p class="card-text">{{content}}</p>
        <a href="{{ link }}" class="btn btn-primary">Open in Web</a>
    </div>
</div>
</div>
</body>
</html>

