<div class="list-group overflow-auto h-100" id="list-group">
    {% for key, value in post_dict.items %}
    <span class="border">
      <div class="p-2 bg-light text-dark">
        <strong>{{key}}</strong>
      </div>
    </span>
    {% for post in value %}
    <div class="{{post.category}}">
    <a class="list-group-item list-group-item-action post-list" id="{{post.pk}}" onclick="iframe_ctl(this)">
      <div class="d-flex w-100 justify-content-between">
        
        {{ post.title }}
        <small>{{ post.edit_date|timesince }}</small>
      </div>
      <!-- <p class="mb-1">Some placeholder content in a paragraph.</p> -->
        <small>{{ post.author.first_name }} {{ post.author.last_name }} #{{ post.category }}</small>
        <br>
        {% if post.is_pin %}
        <span class="badge rounded-pill text-bg-info">Pined</span>
        {% endif %}
        {% if not user in post.read.all %}
        <span class="badge rounded-pill text-bg-warning" id="unread_{{post.pk}}">Unread</span>
        {% endif %}
        {% if post.solved_by_comment == 0 %}
        <span class="badge rounded-pill text-bg-dark">?</span>
        {% else %}
        <span class="badge rounded-pill text-bg-success">!</span>
        {% endif %}
    </a>
    </div>
  
        
    {% endfor %}
    {% endfor %} 
  </div> 