
{% extends 'iframe_base.html' %}

<!-- Override default page title -->
{% block title %}
The Blog: Edit Profile
{% endblock %}

{% block frame_content %}

{% if user.id == profile.user.id %}
<h1>Edit Profile</h1>
<br /><br />
<div class="mb-3">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button class="btn btn-success">Confirm Editting</button>

    </form>

</div>
{% else %}
You are not the owner of this page.
{% endif%}

{% endblock %}