{% extends 'base.html' %}

 <!-- Override default page title -->
 {% block title%}
The Blog: Edit Settings
 {% endblock %}

{% block content %}

<h1>Edit Setting</h1>
<br/><br/>

<div class="mb-3">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        Password:
        <br>
        <a class="btn btn-outline-primary" href="{% url 'password' %}">Change Password</a>
        <br><br>
        
        <button class="btn btn-success">Confirm Editting</button>
    </form>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back to Home</a>

{% endblock %}