{% extends 'iframe_base.html' %}
{% load static %}

<!-- Override default page title -->
{% block title%}
User Profile
{% endblock %}

{% block javascript %}
<style>
.circle-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.circle-img img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
}
.item {
    position:relative;
    display:inline-block;
}
.notify-badge{
    position: absolute;
    right:-2px;
    top:64px;
    background:#0d6efd;
    text-align: center;

    border: 2px solid white;
    border-radius:50%;
    width: 32px;
    height: 32px;



    z-index: 1;
}
</style>
{% endblock %}

{% block frame_content %}

<h3 class="p-2">Profile</h3>
<!-- Bio Card-->
{% if user.id == profile.user.id %}

<div class="d-flex align-items-center">
    
    <div class="flex-shrink-0 align-self-start p-2">
        
        <div class="circle-img img-circle item p-2">
            
            <span class="notify-badge">
                <a data-bs-toggle="collapse" href="#collapse_profile_img" role="button" aria-expanded="false" aria-controls="collapse_profile_img">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="16" fill="currentColor" class="bi bi-pencil-fill text-white" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                      </svg>
                </a>
            </span>
            {% if current_user.profile_img %}
            <img src="{{ current_user.profile_img.url }}" class="img-fluid rounded-circle" alt="profile_img"> 
            {% else %}
            <img src="{% static 'theBlog/images/avatar.jpg' %}" class="img-fluid rounded-circle" alt="profile_img">
            {% endif %}
            
        </div>

    </div>
    <div class="p-2 flex-grow-1 flex-column">
        <h5 class="card-title">{{ current_user.user.first_name }} {{ current_user.user.last_name }}</h5>
        <p class="card-text text-muted">
            {{ current_user.user.email }}
        </p>
    

    <div class="collapse" id="collapse_profile_img">
        <form method="POST" enctype="multipart/form-data" action="{% url 'change_profile_img' profile.id %}">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group input-group-sm w-50">
                    <input type="file" class="form-control" name="profile_img" id="profile_img">
                    <button class="btn btn-sm btn-outline-secondary" type="submit">Submit</button>
                    <button class="btn btn-sm btn-outline-secondary" type="button" onclick="toggle_edit_profile()">Cancel</button>
                </div>
        
            </div>
        </form>
      </div>
    </div>

</div>






<h3 class="p-2">Account Security</h3>
<a class="btn btn-outline-primary" href="{% url 'password' %}">Change Password</a>

<!-- <div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-2">
            {% if current_user.profile_img %}
            <img src="{{ current_user.profile_img.url }}" class="img-fluid rounded-start">
            {% else %}
            <img src="{% static 'theBlog/images/avatar.jpg' %}" class="img-fluid rounded-start">
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{ current_user.user.first_name }} {{ current_user.user.last_name }}</h5>
                <p class="card-text"><small class="text-muted">
                        {% if current_user.link1 %}
                        | <a href="{{ current_user.link1 }}" class="text-muted">{{ current_user.link1_name}}</a> |
                        {% endif %}

                        {% if current_user.link2 %}
                        <a href="{{ current_user.link2 }}" class="text-muted">{{ current_user.link2_name}}</a> |
                        {% endif %}

                        {% if current_user.link3 %}
                        <a href="{{ current_user.link3 }}" class="text-muted">{{ current_user.link3_name}}</a> |
                        {% endif %}

                        {% if current_user.link4 %}
                        <a href="{{ current_user.link4 }}" class="text-muted">{{ current_user.link4_name}}</a> |
                        {% endif %}

                        {% if current_user.link5 %}
                        <a href="{{ current_user.link5 }}" class="text-muted">{{ current_user.link5_name}}</a> |
                        {% endif %}

                        {% if current_user.link6 %}
                        <a href="{{ current_user.link6 }}" class="text-muted">{{ current_user.link6_name}}</a> |
                        {% endif %}
                    </small></p>

                <p class="card-text">{{ current_user.bio }}</p>
                <a href="{% url 'edit_profile_page' user.profile.id  %}" class="btn btn-outline-secondary btn-sm">Edit Profile</a>
                
            </div>
        </div>
    </div>
</div> -->

{% else %}
You are not the owner of this page.
{% endif%}

{% endblock %}

{% block jquery %}
<script>
function toggle_edit_profile(){
    $("#collapse_profile_img").collapse('toggle')
}
</script>
{% endblock %}